[submodule "modules/phase"]
	path = modules/phase
	url = https://github.com/dedmonkes/ded-social-programs.git
	branch = master
[submodule "phase"]
	path = modules/phase
	url = https://github.com/dedmonkes/ded-social-programs.git
	branch = master
